<div class="content_title">Account Settings</div>
<%= render partial: "account_tab_menu.html.erb" %>

<div class="content_outer">
	<div class="content_core">
		<div class="content_core_big_title">Change Adeqo Account Password</div>
		<hr/>
		<div class="content_form">
			<form action="" method="post" id="resetPasswordForm" autocomplete="off">
				<div class="form_row">
					<div class="content_form_label pull-left">
						<label for="reset_current_password" class="form_label pull-right">Current Password:</label>
						<div class="clearfix"></div>
					</div>
					<div class="content_form_input pull-left">
						<input id="reset_current_password" name="up_c_password" type="password" autocomplete="off" class="form_field"/><br/>
				 		<span id="reset_current_password_error" class="error_message"></span>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="form_row">
					<div class="content_form_label pull-left">
						<label for="reset_new_password" class="form_label pull-right">New Password:</label>
						<div class="clearfix"></div>
					</div>
					<div class="content_form_input pull-left">
						<input id="reset_new_password" name="up_n_password" type="password" autocomplete="off" class="form_field"/><br/>
				 		<span id="reset_new_password_error" class="error_message"></span>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="form_row">
					<div class="content_form_label pull-left">
						<label for="reset_confirm_new_password" class="form_label pull-right">Confirm New Password:</label>
						<div class="clearfix"></div>
					</div>
					<div class="content_form_input pull-left">
						<input id="reset_confirm_new_password" name="up_cn_password" type="password" autocomplete="off" class="form_field"/><br/>
				 		<span id="reset_confirm_new_password_error" class="error_message"></span><br/>
				 		
				 		<div class="button red_button submit_button pull-right" onclick="submitResetPassword();">Save</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="content_bottom">Have question about your account? Email us at <a href="mailto:sales@bmgww.com" target="_top"><u>sales@bmgww.com</u></a> for assistance.</div>
